@import "../../../../../variables.scss";

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

::ng-deep .mat-sort-header-arrow {
  color: white;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: #{$color-brand-secondary-medium};
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: #{$color-brand-secondary-medium};
}

::ng-deep .mdc-checkbox__background {
  border-radius: 25% !important;
}

::ng-deep
  .mat-mdc-checkbox.mat-accent
  .mdc-checkbox--selected
  ~ .mdc-checkbox__ripple {
  background: #{$color-brand-secondary-medium};
}

.mdc-data-table__cell {
  border: none;
}
.mdc-data-table__cell:nth-child(1) {
  border: none;
  border-radius: 100px 0px 0px 100px;
}
.mdc-data-table__cell:last-child {
  border: none;
  border-radius: 0px 100px 100px 0px;
  text-align: left;
}

/* Estilos alternados para cada linha */
::ng-deep .mat-mdc-table .mat-mdc-row:nth-child(odd) {
  background-color: #ffffff; /* Cor de fundo para linhas ímpares */

  &:hover {
    background-color: #ffffff;
  }
}

::ng-deep .mat-mdc-table .mat-mdc-row:nth-child(even) {
  background-color: #f7f7f7; /* Cor de fundo para linhas pares */

  &:hover {
    background-color: #f7f7f7;
  }
}

.mat-mdc-header-row {
  background-color: #{$color-brand-primary-light};
  white-space: nowrap;
}

.mat-mdc-header-cell {
  color: #ffffff !important;
  text-align: -webkit-center;
}

.mat-mdc-header-cell:last-child {
  color: #ffffff !important;
  border-radius: 0 0 100px 0;
  text-align: -webkit-center;
}

.mat-mdc-header-cell:nth-child(1) {
  color: #ffffff !important;
  border-radius: 100px 0 0 100px;
  text-align: -webkit-center;
}

.mat-mdc-checkbox {
  --mdc-checkbox-selected-checkmark-color: #fff;
  --mdc-checkbox-selected-focus-icon-color: #{$color-brand-secondary-medium};
  --mdc-checkbox-selected-hover-icon-color: #{$color-brand-secondary-medium};
  --mdc-checkbox-selected-icon-color: #{$color-brand-secondary-medium};
  --mdc-checkbox-selected-pressed-icon-color: #{$color-brand-secondary-medium};
  --mdc-checkbox-unselected-focus-icon-color: #{$color-brand-secondary-medium};
  --mdc-checkbox-unselected-hover-icon-color: #{$color-brand-secondary-medium};
  --mdc-checkbox-disabled-selected-icon-color: #{$color-brand-secondary-medium};
  --mdc-checkbox-disabled-unselected-icon-color: #{$color-brand-secondary-medium};
  --mdc-checkbox-unselected-icon-color: #{$color-brand-secondary-medium};
  --mdc-checkbox-unselected-pressed-icon-color: #{$color-brand-secondary-medium};
}

.mat-mdc-header-cell,
.mat-mdc-cell,
.mat-mdc-footer-cell {
  font-family: #{$font-family-base};
  font-size: #{$font-size-base};
  color: #{$color-neutral-dark};
  text-transform: uppercase;
}

.mat-mdc-header-cell {
  font-weight: #{$font-weight-bold};
}

.mat-mdc-cell {
  font-weight: #{$font-weight-bold};
}

.trash-button {
  display: flex;
  place-items: center;
  background-color: #{$color-feedback-danger-lightest};
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: none;
  cursor: pointer;

  .mat-icon {
    color: #{$color-feedback-danger-medium};
  }
}

.edit-button {
  display: flex;
  place-items: center;
  background-color: #{$color-feedback-warning-lightest};
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: none;
  cursor: pointer;

  .mat-icon {
    color: #{$color-feedback-warning-darkest};
  }
}

.actions {
  display: flex;
  gap: 10px;
}

.header-table {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
