@import "../../../variables.scss";

.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  & h1 {
    align-self: center;
  }
}

.tittle  {
  font-family: #{$font-family-base};
  font-size: #{$font-size-min};
  font-weight: #{$font-weight-bold};
  margin-top: 30px;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

::ng-deep .cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.8);
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 60px 0 60px 60px !important;
}
